[submodule "anziam2024"]
	path = anziam2024
	url = git@github.com:MikeLydeamore/anziam2024.git
[submodule "2024-adsc-lunchbox"]
	path = 2024-adsc-lunchbox
	url = git@github.com:MikeLydeamore/2024-adsc-lunchbox.git
[submodule "conmat-spectrum-2024"]
	path = conmat-spectrum-2024
	url = git@github.com:MikeLydeamore/talk-conmat-projections.git
[submodule "wombat-airpurifyr-2024"]
	path = wombat-airpurifyr-2024
	url = git@github.com:MikeLydeamore/talk-airpurifyr.git
[submodule "healthcare-infections"]
	path = healthcare-infections
	url = git@github.com:MikeLydeamore/talk-healthcare-infections.git
[submodule "hospital-network"]
	path = hospital-network
	url = git@github.com:MikeLydeamore/talk-hospital-network.git
[submodule "chytrid-anziam"]
	path = chytrid-anziam
	url = git@github.com:MikeLydeamore/talk-chytrid-anziam.git
[submodule "acefa-launch"]
	path = acefa-launch
	url = git@github.com:MikeLydeamore/talk-acefa-launch.git
[submodule "talk-workshop-r-pkg"]
	path = talk-workshop-r-pkg
	url = git@github.com:MikeLydeamore/talk-workshop-r-pkg.git
