[submodule "anziam2024"]
	path = anziam2024
	url = git@github.com:MikeLydeamore/anziam2024.git
[submodule "2024-adsc-lunchbox"]
	path = 2024-adsc-lunchbox
	url = git@github.com:MikeLydeamore/2024-adsc-lunchbox.git
